<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :address, rows: 3, cols: 40 %><br>
    <%= f.text_area :address %>
  </div>

    <div class="field">
      <%= f.label :email  %><br>
      <%= f.text_field :email, size: 40 %>
    </div>
   <div>
      <%= f.label :pay_type %><br> <!-- label turns out to be the actual label
    for the field, carring the name on the left side of the field. :pay_type is the
    attibute of the object we declared for our class in the migration.
    This will refer to our model as the data entry for the Order table in the
    specific column. -->

    <%= f.select :pay_type, PaymentType.names, prompt: 'Select a payment method' %>
    <!-- <%# f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
        <!-- In my understanding select is a method that creates a form field
        that has a drop-down list displaying a range of selection options according
        to what is made available in the parameters. we place our references in the
        respective model Class. In this case we have an array called PAYMENT_TYPES
        in the Order's model class with the items that will go in our selection list.
         Another parameter is the :prompt which adds
        adds a dummy selection containing the prompt text-->
  </div>
  <div class="actions">
    <%= f.submit 'Place Order' %>
    <!-- the submit method adds a submit button for a given form
    when no value is given it checks if the object is a new resource or
    not to create the proper label. we can add a string parameter passing
    the text we want the button to carry. Otherwise it'll be Create followed by the object' class
     name by default. In this case Create Order-->
  </div>
<% end %>
