

<% if notice  %>
<p id="notice"><%= notice %></p>
<% end %>



<h1>Our Books</h1>

<% cache ['store', Product.latest ] do %>
  <% @products.each do |product| %>
    <div class="entry"> <%=  link_to image_tag(product.image_url), queue_groceries_path(product_id: product), method: :post, remote: true %>

      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price">
          <%= number_to_currency(product.price) %>
        </span>
        <%= button_to 'Add to Basket',  queue_groceries_path(product_id: product), remote: true %>

      </div>
    </div>


  <% end %>
<% end %>

