
<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <!-- START_HIGHLIGHT -->
  <title>Vini's Online Store</title>
  <!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
<div id="banner">
  <%= link_to image_tag("bookshelp.jpg"), store_index_path %>
  <%=  @page_title || "Vini's Bookshelf" %><!-- <label id="code.depot.e.title"/> -->
</div>
<div id="columns">
  <div id="side">
    <div id="basket">

      <% if @basket.present? %>
        <%= render @basket %>
      <% end %>

    </div>
    <ul>
      <li><a href="http://vinisbookshelf.herokuapp.com">HOME</a></li>
      <li><a href="http://vinisbookshelf.herokuapp.com/info/contact">CONTACT US</a></li>
      <br>
      <li><a href="http://vinisbookshelf.herokuapp.com/login">LOGIN</a></li>


    </ul>

    <% if session[:user_id] %>
    <ul>
      <li><%= link_to 'Orders',   orders_path   %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Users',    users_path    %></li>
    </ul>
        <%= button_to 'Logout', logout_path, method: :delete %>
  <% end %>
    <br>

    <div >Be in to win a ticket for Foo Fighters Concert <a href="http://localhost:3000/users">here</a></div>
    <iframe width="250" height="170" src="//www.youtube.com/embed/V_YlZ1JdcVk" frameborder="0" allowfullscreen></iframe>

  </div>
  <div id="main">
    <!-- END_HIGHLIGHT -->
    <%= yield %>
    <!-- START_HIGHLIGHT -->
  </div>
</div>
<!-- END_HIGHLIGHT -->

</body>
</html>

